<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cuidador</title>
</head>
<body>
  <form action="/" method="post" enctype="multipart/form-data">

  <h1>Registro Cuidador</h1> 
    
  <label for="usuario2">Usuario:</label>
  <input type="text" name="usuario2" id="usuario2">
  <br>
  <br>
  <label for="contrasena2">Contraseña:</label>
  <input type="password" name="contrasena2" id="contrasena2">
  <br>
  <br>
  <label for="direccion">Direccion del cuidador:</label>
  <input type="text" name="direccion" id="direccion"><br>
  <br>
  <input type="submit" value="Registrarse">
  </form>
</body>
</html>