<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <title>Inicio</title>
</head>
<body>
  <form action="/" method="post" enctype="multipart/form-data">

  <h1>Registro Dueño y Mascota</h1>
    
  <label for="usuario">Usuario:</label>
  <input type="text" name="usuario" id="usuario">
  <br>
  <br>
  <label for="contrasena">Contraseña:</label>
  <input type="password" name="contrasena" id="contrasena">
  <br> 
  <br>
  <label for="nombre_mascota">Nombre de la mascota:</label>
  <input type="text" name="nombre_mascota" id="nombre_mascota">
  <br>
  <br>
  <label for="raza">Raza:</label>
  <input type="text" name="raza" id="raza">
  <br>  
  <br>
  <label for="edad">Edad:</label>
  <input type="number" name="edad" id="edad">
  <br>
  <br>
  <input type="submit" value="Registrarse">
  </form>
</body>
</html>